<h1> Dog Show Page </h1>

<h2>Name: <%= @dog.name %></h2>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>

<ul> My Employees:
    <% @dog.employees.each do |employee| %>
        <li><%= employee.first_name %></li>
        <% end %>
        </ul>